:root {
  --color-brand: #4d5ae5;
  --color-pressed-state: #404bbf;
  --color-title: #2e2f42;
  --color-text: #434455;
  --color-primary: #ffffff;
  --timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: var(--color-primary);
  color: var(--color-text);
}

p,
ul,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.container {
  max-width: 428px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }
}

/* Head  */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;
  padding-top: 25px;
  padding-bottom: 23px;

  color: var(--color-title);

  font-size: 18px;
  line-height: 1.33;
  font-weight: 800;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 0.03em;
}

@media (min-width: 768px) {
  .logo {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.logo-text {
  color: var(--color-brand);
}

.header-menu {
  display: none;
}

@media (min-width: 768px) {
  .header-menu {
    display: flex;
    gap: 40px;
  }
}

.header-link {
  position: relative;

  display: block;
  padding: 24px 0;

  color: var(--color-title);
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 0.02em;
  line-height: 1.5;

  transition: color var(--timing-function);
}

.link-page {
  color: var(--color-pressed-state);
}

.link-page::after {
  content: '';

  position: absolute;

  display: block;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 4px;

  background-color: var(--color-pressed-state);
}

.header-link:hover {
  color: var(--color-pressed-state);
}

.address {
  margin-left: auto;
  display: none;
}

@media (min-width: 768px) {
  .address {
    display: block;
  }
}

.address-menu {
  display: flex;
  gap: 12px;
  flex-direction: column;
}

@media (min-width: 1200px) {
  .address-menu {
    gap: 40px;
    flex-direction: row;
  }
}

.address-link {
  display: flex;

  color: var(--color-text);

  font-size: 12px;
  text-decoration: none;
  font-style: normal;
  letter-spacing: 0.02em;
  line-height: 1.17;

  transition: color var(--timing-function);
}

@media (min-width: 1200px) {
  .address-link {
    font-size: 16px;
    line-height: 1.5;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.address-link:hover {
  color: var(--color-pressed-state);
}

.menu-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;

  background-color: var(--color-primary);

  transform: translateX(200%);
  transition: transform 250ms ease-in-out;
}

@media (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: var(--color-primary);
}

.menu-toggle {
  height: 24px;
  width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: #e7e9fc;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}

.menu-toggle-open {
  height: 22px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  margin-left: auto;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

@media (min-width: 768px) {
  .menu-toggle-open {
    display: none;
  }
}

.menu-address-wrap {
  margin-bottom: 48px;
  align-items: flex-end;
}

.menu-list {
  display: flex;
  gap: 40px;
  flex-direction: column;
  margin-top: 40px;
}

.menu-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-title);
}

.menu-item:hover,
.menu-item:focus {
  color: var(--color-pressed-state);
}

.menu-address {
  display: flex;
  padding: 0;

  color: var(--color-text);

  font-weight: 700;
  text-decoration: none;
  font-style: normal;

  transition: color var(--timing-function);
}

@media screen and (max-width: 427px) {
  .menu-address {
    font-size: 24px;
  }
}

.menu-address.mail {
  margin-top: 40px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--color-text);
}

.menu-social {
  display: flex;
  gap: 56px;
}

@media screen and (max-width: 427px) {
  .menu-social {
    gap: 25px;
  }
}

.menu-link {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;

  background-color: var(--color-brand);
  color: #f4f4fd;
  border-radius: 50%;

  cursor: pointer;

  transition: background-color var(--timing-function);
}

.menu-link:hover,
.menu-link:focus {
  background-color: var(--color-pressed-state);
}

.active {
  color: var(--color-pressed-state);
}

.menu-soc-icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
}

/* Hero */
.hero {
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url('../images/people-office.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  max-width: 1440px;
  text-align: center;

  margin-left: auto;
  margin-right: auto;
  padding-top: 112px;
  padding-bottom: 112px;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office@2.jpg);
  }
}

@media (min-width: 1200px) {
  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }
}

.hero-title {
  color: var(--color-primary);
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 320px;

  margin-bottom: 72px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .hero-title {
    margin-bottom: 36px;
    max-width: 496px;

    font-size: 56px;
    line-height: 1.07;
  }
}

@media (min-width: 1200px) {
  .hero-title {
    margin-bottom: 48px;
  }
}

.hero-btn {
  color: var(--color-primary);
  background-color: var(--color-brand);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;

  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;

  padding: 16px 32px;

  transition: background-color var(--timing-function);
}

.hero-btn:hover {
  background-color: var(--color-pressed-state);
}

/* Sections */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantage {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media (min-width: 1200px) {
  .advantage {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.advantage-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

@media (min-width: 768px) {
  .advantage-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 72px;
  }
}

@media (min-width: 1200px) {
  .advantage-list {
    row-gap: 0;
  }
}

@media (min-width: 1200px) {
  .advantage-list {
    row-gap: 0;
  }
}

@media (min-width: 768px) {
  .advantage-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1200px) {
  .advantage-item {
    flex-basis: calc((100% - 24px * 3) / 4);
  }
}

.advantage-text {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

@media (min-width: 1200px) {
  .advantage-text {
    font-weight: 400;
  }
}

.advantage-icon {
  display: none;
}

@media (min-width: 1200px) {
  .advantage-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    align-items: center;

    background-color: var(--light-clr);
  }
}

.advantage-img {
  width: 64px;
  height: 64px;
}

.section-subtitle {
  color: var(--color-title);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;

  text-align: center;

  margin-bottom: 8px;
}

@media (min-width: 768px) {
  .section-subtitle {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .section-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

/* Works  */

.work {
  display: none;
}

@media (min-width: 1200px) {
  .work {
    display: block;
    padding-bottom: 120px;
  }
}

.section-title {
  color: var(--color-title);
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;

  margin-bottom: 72px;
}

.work-list {
  display: flex;
  gap: 24px;
}

.work-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

/* Our team */

.team {
  padding-top: 96px;
  padding-bottom: 96px;

  background-color: #f4f4fd;
}

@media (min-width: 1200px) {
  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

@media (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
    row-gap: 64px;
  }
}

.team-item {
  text-align: center;

  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team-content {
  text-align: center;
  padding: 32px 0;
}

.team-title {
  margin-bottom: 8px;

  text-align: center;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--dark-clr);
}

.team-prof {
  margin-top: 8px;
  margin-bottom: 8px;

  letter-spacing: 0.02em;
  line-height: 1.5;
}

/* Socials icons */

.socials-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.socials-link {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;

  background-color: var(--color-brand);
  color: var(--color-primary);
  border-radius: 50%;

  cursor: pointer;

  transition: background-color var(--timing-function);
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--color-pressed-state);
}

.socials-icon {
  fill: currentColor;
  width: 16px;
  height: 16px;
}

/* Customers */

.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media (min-width: 1200px) {
  .customers {
    padding-top: 130px;
    padding-bottom: 120px;
  }
}

.customers-list {
  display: flex;
  gap: 16px;
  row-gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 768px) {
  .customers-list {
    gap: 24px;
    row-gap: 72px;
  }
}

.customers-item {
  display: flex;
  flex-basis: 190px;
  height: 88px;
}

@media (max-width: 427px) {
  .customers-item {
    flex-basis: 136px;
  }
}

@media (min-width: 768px) {
  .customers-item {
    flex-basis: 168px;
  }
}

.customers-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  fill: #8e8f99;
  border-radius: 4px;

  transition: fill var(--timing-function), border var(--timing-function);
}

.customers-link:hover,
.customers-link:focus {
  fill: var(--color-pressed-state);
  border: 1px solid var(--color-pressed-state);
}

.customers-icon {
  width: 104px;
  height: 56px;
}

/* Footer  */
.footer {
  background-color: var(--color-title);

  padding-top: 96px;
  padding-bottom: 96px;
}

@media (min-width: 1200px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

.footer-container {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .footer-container {
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .footer-container {
    align-items: start;
    padding-left: 15px;
    padding-right: 15px;
    flex-direction: row;
  }
}

.footer-about {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 72px;
}

@media (min-width: 768px) {
  .footer-about {
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .footer-about {
    gap: 120px;
    margin-bottom: 0;
  }
}

.footer-logo-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

@media (min-width: 768px) {
  .footer-logo-media {
    align-items: start;
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .footer-logo-media {
    align-items: normal;
    margin-bottom: 0;
  }
}

.footer-logo {
  color: #f4f4fd;

  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  line-height: 1.18;
  font-weight: 800;
  letter-spacing: 0.03em;

  display: block;
  margin-bottom: 16px;
}

.footer-logo-text {
  color: var(--color-brand);
}

.footer-text {
  color: #e7e9fc;

  letter-spacing: 0.02em;
  line-height: 1.5;
  max-width: 264px;
}

.footer-socials {
  display: flex;
  flex-direction: column;
}

.footer-socials-title {
  text-align: center;

  color: var(--color-primary);

  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 16px;

  margin-bottom: 16px;
}

@media (min-width: 1200px) {
  .footer-socials {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .footer-socials-title {
    text-align: left;
  }
}

.footer-link {
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--timing-function);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #31d0aa;
}

.footer-socials-icon {
  fill: currentColor;
  width: 24px;
  height: 24px;
}

.subscribe {
  margin-right: 0;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

@media (min-width: 768px) {
  .subscribe {
    width: 527px;
    align-items: start;
    gap: 16px;
  }
}

@media (min-width: 1200px) {
  .subscribe {
    width: auto;
    margin-left: auto;
  }
}

.subscribe-form {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

@media (min-width: 768px) {
  .subscribe-form {
    flex-direction: row;
    gap: 24px;
  }
}

.subscribe-title {
  color: var(--color-primary);

  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  font-size: 16px;
}

.subscribe-email {
  padding: 8px 16px;
  width: 100%;

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

@media (min-width: 768px) {
  .subscribe-email {
    width: 264px;
  }
}

.footer-btn {
  display: flex;
  align-content: center;
  padding: 8px 24px;
  width: 165px;
  margin: 0 auto;

  color: var(--color-primary);
  background-color: var(--color-brand);

  border: none;
  border-radius: 4px;
  cursor: pointer;

  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;

  transition: background-color var(--timing-function);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--color-pressed-state);
}

@media (min-width: 768px) {
  .footer-btn {
    margin: 0;
  }
}

.footer-icon-subscribe {
  fill: var(--color-primary);

  margin-left: 16px;
  width: 24px;
  height: 24px;
}

/* Portfolio  */

.section-portfolio {
  padding-top: 48px;
  padding-bottom: 48px;
}

@media (min-width: 768px) {
  .section-portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }
}

@media (min-width: 1200px) {
  .section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }
}

.portfolio-container {
  padding-left: 16px;
  padding-right: 16px;
}

@media (min-width: 1200px) {
  .portfolio-container {
    padding-left: 0;
    padding-right: 0;
  }
}

.filters-menu {
  display: flex;
  width: 300px;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 16px;
  justify-content: left;
  margin-bottom: 48px;
}

@media (min-width: 768px) {
  .filters-menu {
    width: 100%;
    justify-content: center;
    margin-bottom: 64px;
  }
}

@media (min-width: 1200px) {
  .filters-menu {
    margin-bottom: 72px;
  }
}

.filters-buttons {
  background-color: #f4f4fd;
  color: var(--color-brand);

  font-weight: 500;
  text-align: center;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  border: none;
  line-height: 1.5;

  padding: 8px 16px;

  transition: color var(--timing-function),
    background-color var(--timing-function), box-shadow var(--timing-function);
}

@media (min-width: 768px) {
  .filters-buttons {
    padding: 12px 24px;
  }
}

.filters-buttons:hover,
.filters-buttons:focus {
  color: var(--color-primary);
  background-color: var(--color-pressed-state);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.project-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 48px;
  flex-wrap: wrap;
}

@media (min-width: 768px) {
  .project-list {
    gap: 24px;
    row-gap: 72px;
    flex-direction: row;
  }
}

@media (min-width: 1200px) {
  .project-list {
    gap: 24px;
    row-gap: 48px;
  }
}

.project-item {
  flex-basis: 396px;
}

.project-item:nth-child(3n) {
  margin-right: 0;
}

.project-item:nth-child(n + 7) {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .project-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media (min-width: 1200px) {
  .project-item {
    flex-basis: calc((100% - 24px * 2) / 3);
  }
}

.project-link {
  display: block;
  text-decoration: none;
  color: currentColor;

  transition: box-shadow var(--timing-function);
}

.project-link:hover,
.project-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.project-content {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.project-wrap {
  position: relative;
  overflow: hidden;
}

.project-description {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 40px 32px;

  transform: translateY(100%);
  transition: transform var(--timing-function);

  background-color: var(--color-brand);
}

.project-link:hover .project-description {
  transform: translateY(0);
}

.project-imgage {
  display: block;
  width: 100%;
}

.project-subtitle {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;

  color: var(--color-title);
}

.project-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: #f4f4fd;
}

.project-desc {
  letter-spacing: 0.02em;
  line-height: 1.5;
}

/* Modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgba(46, 47, 66, 0.4);

  transition: opacity var(--timing-function), visibility var(--timing-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 72px 16px 24px 16px;

  width: 100%;

  max-width: 392px;
  min-height: 576px;

  background-color: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media (min-width: 768px) {
  .modal {
    padding: 72px 24px 24px 24px;
    max-width: 408px;
  }
}

.backdrop.is-hidden .modal {
  transform: scale(0);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  width: 24px;
  height: 24px;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);

  transition: background-color var(--timing-function),
    fill var(--timing-function), border var(--timing-function);
}

.modal-close-icon {
  width: 8px;
  height: 8px;
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--color-pressed-state);
  fill: var(--color-primary);
  border: none;
}

/* Form  */

.contact-text {
  text-align: center;

  margin-bottom: 16px;

  color: var(--color-title);
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.form-label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;

  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-label:nth-child(n + 2) {
  margin-top: 8px;
}

.form-label-comment {
  margin-bottom: 16px;
}

.form-group {
  position: relative;
}

.form-input {
  padding-left: 38px;
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border var(--timing-function);
}

.form-input:focus {
  border: 1px solid var(--color-brand);
}

.form-icon {
  position: absolute;

  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  fill: var(--color-title);

  transition: fill var(--timing-function);
}

.form-input:focus + .form-icon {
  fill: var(--color-brand);
}

.form-textarea {
  resize: none;

  width: 100%;
  height: 120px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;

  transition: border var(--timing-function);
}

.form-textarea:focus {
  border: 1px solid var(--color-brand);
}
.form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  letter-spacing: 0.04em;
  font-size: 12px;
  line-height: 1.17;
}

.contact-form-btn {
  display: flex;
  align-content: center;
  margin: 24px auto 0 auto;
  width: 169px;
  justify-content: center;
}

.form-accept {
  color: #757575;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}
.form-accept-chekbox {
  position: absolute;
  appearance: none;
}
.checkbox {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  overflow: hidden;

  border: 1.25px solid var(--color-title);
  border-radius: 2px;

  background-color: var(--color-primary);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: 50% 50%;
}

.form-accept-chekbox:checked + .checkbox {
  background-color: var(--color-pressed-state);
  border: 1.25px solid var(--color-pressed-state);
}

.form-accept-chekbox:checked + .checkbox + .checked-icon {
  fill: var(--color-pressed-state);
}

.checked-icon {
  width: 10px;
  height: 8px;
  fill: var(--color-primary);
}

.form-accept-text {
  padding-left: 8px;
}

.web-privacy {
  color: var(--color-brand);
  text-decoration: underline;
}
